@use './variables.scss';

.wrapper {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
}

//stripping styles
h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: underline 1px variables.$black;
    color: inherit;

    &:hover,
    &:focus,
    &:active {
        color: variables.$red;
        text-decoration: underline 1px variables.$red;
    }
}

button {
    all: unset;
}

body {
    background-color: variables.$background;
}