.wrapper {
    max-width: 1280px;
    width: 80%;
    margin: 0 auto;
}

//stripping styles
h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    all: unset;
}

body {
    // display: flex;
    // justify-content: space-between;
    background-color: rgb(246, 243, 240);
}