@use './variables.scss';

header {
    width: 100%;
    background-color: variables.$red;
    height: 200px;
    padding: 30px 0;
}

.aboutButton {
    position: absolute;
    right: 10px;
    top: 5px;
    margin: 0;
    padding: 3px 5px;
}

.headerText {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: variables.$background;
}

h1 {
    border-bottom: 1px solid variables.$background;
    padding-bottom: 20px;
}

button {
    margin-top: 30px;
    border: 3px solid variables.$background;
    padding: 8px 10px;
    display: block;
    cursor: pointer;
    transition: .3s ease-in-out;
    color: variables.$background;



    &:hover,
    &:focus,
    &:active {
        border-color: variables.$black;
    }
}