@use './variables.scss';
// modal

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    transition: .3s ease;

    span {
        font-style: italic;
    }
}

.modalContent {
    margin: 15% auto;
    padding: 30px;
    border: 1px solid variables.$grey;
    width: 60%;
    background-color: variables.$background;
    transition: .3s ease;

    button {
        color: variables.$black;
        border: none;
        position: relative;
        top: -30px;
        left: 0;

        &:hover {
            color: variables.$red;
        }
    }
}

@media (max-width:600px) {
    .modalContent {
        width: 80%;
    }
}