@use './variables';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
    font-size: 125%;
    font-family: 'Montserrat', sans-serif;
    color: variables.$black;
}

h1 {
    font-size: 2rem;
}

h2, h3, button {
    font-size: .9rem;
}

h2 {
    font-style:italic;
}